https://wp-test.hueske.services {
    #log
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options nosniff
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "SAMEORIGIN"
        -Server
        -X-Powered-By
        -ETag
    }

    respond /wp-content/uploads/*.php 403
    respond /wp-content/plugins/*.php 403
    respond /wp-content/themes/*.php 403
    respond /wp-admin/install.php 403
    respond /wp-admin/includes/*.php 403
    respond /wp-includes/*/*.php 403
    respond /wp-includes/js/tinymce/langs/*.php 403
    respond /wp-includes/theme-compat/*.php 403
    respond /wp-config.php 403

    encode zstd gzip

    @noCache {
        path *.html *.php *.json *.xml *.rss *.atom
    }
    header @noCache {
        Cache-Control "public, max-age=0, must-revalidate"
    }

    @longCache {
        path *.css *.js *.png *.jpg *.jpeg *.gif *.heic *.heif *.ico *.svg *.woff *.woff2 *.ttf *.otf *.mp4 *.mov *.webm *.eot *.jxl *.avif *.webp *.bmp *.m4v *.tif *.tiff *.mp3 *.m4a
    }
    header @longCache {
        Cache-Control "public, max-age=31536000" # 1 year
    }

    @smallCache {
        path *.pdf *.csv *.docx *.xlsx *.pptx
    }
    header @smallCache {
        Cache-Control "public, max-age=3600" # 1 hour
    }

    reverse_proxy wordpress-web-1:80
}